GITHUB_FINE_PAT=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=/canvas/callback

BACKEND=localhost:8000
FRONTEND=localhost:3000
DB=postgresql://<user>:<password>@<host>/<database>?sslmode=require

PRIVILEGED_USERS=