@font-face {
    font-family: "Minecart";
    src: url("/fonts/Minecart.ttf") format("truetype");
}

@font-face {
    font-family: "Phantom Sans";
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff') format('woff'),
}